.container{
  display: flex;
  flex-flow: column;
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
}

.header img {
  width: 37px;
  margin-right: 16px;
}
.content{
  flex-grow: 1;
}
.footer{
  padding:10px 20px;
  background-color:#f5f5f5;
}
.footer p{
  margin:0;
}
/* Responsive Styles */
@media screen and (max-width: 767px) {}
  .footer{
    font-size:0.7rem;
    line-height: 0.8rem;
  }
@media screen and (min-width: 768px) {
  .footer{
    font-size:0.9rem;
    line-height: 1.0rem;
  }
}
